################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WolframChallenges/obj
/.vs/WolframChallenges/v16/Server/sqlite3
/.vs/WolframChallenges/v16
/WolframChallenges/bin/Debug/netcoreapp2.2
/WolframChallengesTests/obj
/WolframDB/bin/Debug
/WolframDB/obj/Debug
/WolframEntities/bin/Debug/netcoreapp3.0
/WolframEntities/obj/Debug/netcoreapp3.0
/WolframEntities/obj
/WolframWeb/bin/Debug/netcoreapp3.0
/WolframWeb/obj
/WolframDB/WolframDB.dbmdl
/WolframDB/WolframDB.jfm
/WolframDB/WolframDB.refactorlog
